IDI_ICON1 ICON "beast_logo.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          0x40004L
FILETYPE        0x1L
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName",      "Codone"
            VALUE "FileDescription",  "BEAST Browser"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "beast"
            VALUE "OriginalFilename", "beast.exe"
            VALUE "ProductName",      "BEAST"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
